@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 18px "Bebas Neue", Arial, sans-serif;
  line-height: 1.5;
  color: rgb(20, 20, 20);
}

.carousel {
  position: absolute;
  width: 100%;
  height: 65vh;
  overflow: hidden;
}

.carousel-tabs {
  display: flex;
  justify-content: left;
  padding-left: 20%;
  align-items: center;
  background-color: #2f527a;
}

.carousel-tab {
  margin: 0;
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: #bebebe;
}

.carousel-tab.active {
  background-color: #bebebe;
  color: #2f527a;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.carousel-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

img {
  width: 100vw;
  height: 65vh;
  object-fit: cover;
}

header {
  gap: 8rem;
  width: 60vw;
  margin: 0 auto;
}

header,
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.big-number {
  font-size: 10rem;
  color: #a7a3a3;
}

.accent {
  font-size: 3rem;
  color: #2f527a;
}

.climb {
  margin-left: -24px;
  margin-bottom: -22px;
}

.text {
  font-family: Helvetica, sans-serif;
}

footer {
  padding: 0.9rem 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f527a;
  color: #4e7299;
  width: 100vw;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.los-angeles {
  letter-spacing: 1px;
  font-size: 1.4rem;
  line-height: 0.9;
}

span {
  font-size: 1.7rem;
}

.main-text-wrapper {
  position: absolute;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.801);
  height: 18rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1rem;
  margin: 4rem 20%;
  padding: 0 3.7rem;
  white-space: nowrap;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

footer > .row {
  gap: 0.4rem;
}

@media only screen and (max-width: 1400px) {
  header {
    width: 70vw;
  }
}

@media only screen and (max-width: 1200px) {
  header {
    width: 80vw;
  }
}

@media only screen and (max-width: 800px) {
  header {
    width: 80vw;
    flex-direction: column;
    gap: 0;
    margin: 1rem auto;
  }

  .big-number {
    line-height: 1;
  }

  .accent {
    font-size: 2.4rem;
  }

  .text {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 500px) {
  .main-text-wrapper {
    height: 15rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 4rem 3rem;
  }

  footer {
    font-size: 1rem;
    padding: 1rem 5%;
  }

  .carousel-tabs {
    padding: 0;
  }
}
